**/__pycache__
**/.mypy_cache
dist
dist-portable
build
build-portable
tcc-g15-portable.zip
*.spec
# ...but our hand-written build specs must be tracked: CI builds from them.
!tcc-g15.spec
!tcc-g15-portable.spec